@model IEnumerable<VacaYAY.Data.Entities.Position>
@{
    ViewData["Title"] = "Positions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Manage positions</h2>
    <hr />
    <div class="col">
        <a asp-action="Create" class="btn btn-success btn-block w-100">Create new position</a>
    </div>
    <div class="col-10">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Caption)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Caption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary" style="margin-right:10px">Edit</a>
                            <input type="hidden" asp-for="@item.ID" />
                            <a class="btn btn-danger open-confirm-modal"
                               data-id="@item.ID"
                               data-controller="Positions"
                               data-action="Delete"
                               data-title="Confirm position deletion"
                               data-body-message="Are you sure you want to delete the position <strong> @item.Caption</strong>?">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>