@using VacaYAY.Data.DataTransferObjects;
@using VacaYAY.Data.Entities;
@using VacaYAY.Data.Enums;

@model RequestView
@{
    ViewData["Title"] = "Manage vacation requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <h3>Manage vacation requests</h3>
    <hr />
    <div class="col">
        <h5>Configuration</h5>
        <hr />
        <a class="btn btn-sm btn-outline-primary mb-3 w-100" asp-controller="LeaveTypes" asp-action="Index"><i class="bi bi-gear"></i> Manage leave types</a>
        <h5 class="mt-2">Filter</h5>
        <hr />
        <form asp-controller="Requests" asp-action="AdminPanel" method="get">
            <div class="d-flex flex-column">
                <input type="text" asp-for="SearchInput" class="form-control" placeholder="Search..." />
                <div class="form-floating mb-3 mt-3">
                    @Html.DropDownListFor(m => m.SelectedLeaveTypeID, new SelectList(Model.LeaveTypes, nameof(LeaveType.ID), nameof(LeaveType.Caption)), "None",
                    new {@class="form-control dropdown-toggle"})
                    <label for="SelectedLeaveTypeID" class="col control-label">Leave type</label>
                    <span asp-validation-for="SelectedLeaveTypeID" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    @Html.DropDownListFor(m => m.Status, Html.GetEnumSelectList<RequestStatus>(),
                    new {@class="form-control dropdown-toggle"})
                    <label for="Status" class="col control-label">Status</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="StartDateFilter" type="date" class="form-control" aria-required="true" placeholder="Start Date" />
                    <label asp-for="StartDateFilter"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="EndDateFilter" type="date" class="form-control" aria-required="true" placeholder="End Date" />
                    <label asp-for="EndDateFilter"></label>
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i>  Search</button>
            </div>
        </form>
    </div>
    <div class="col-10">
        <table class="table table-striped">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Requests.First().CreatedBy)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Requests.First().LeaveType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Requests.First().StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Requests.First().EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Requests)
                {
                    <tr class="@(item.Response is null ? "table-active" : "table-default")">
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType.Caption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td class="text-end" style="white-space:nowrap; width:10%;">
                            @if (item.Response is null)
                            {
                                <a asp-action="CreateResponse" asp-route-id="@item.ID" class="btn btn-sm btn-primary">Respond</a>
                            }
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-outline-info">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>