@using VacaYAY.Data.DataTransferObjects;
@using VacaYAY.Data.Entities;
@using VacaYAY.Data.DataTransferObjects.Requests;
@model RequestCreate
@{
    ViewData["Title"] = "Create Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm w-25">
    <h2>Vacation request</h2>
    <h4>Create new vacation request</h4>
    <hr />
    <p>
        New days off: <strong> @Model.NewDaysOff</strong> <br />
        Old days off: <strong> @Model.OldDaysOff</strong> <br />
        Total: <strong> @Model.AllDaysOff </strong>
    </p>
    <form asp-action="CreateRequest">
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <div class="form-floating mb-3">
            @Html.DropDownListFor(model => model.LeaveTypeID,
            new SelectList(Model.LeaveTypes, nameof(LeaveType.ID),
            nameof(LeaveType.Caption), Model.LeaveTypeID),
            new { @class = "form-control" })
            <label for="Model.LeaveType.ID" class="control-label"> Leave type </label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="StartDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" aria-required="true" placeholder="Start Date" />
            <label asp-for="StartDate"></label>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="EndDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" aria-required="true" placeholder="End Date" />
            <label asp-for="EndDate"></label>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment" class="control-label"></label>
            <textarea asp-for="Comment" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-block w-100 mt-3">Create request</button>
    </form>
</div>
