@using VacaYAY.Data.DataTransferObjects;
@using VacaYAY.Data.Entities;
@model RequestEdit
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm w-25">
    <h2>Vacation request</h2>
    <h4>Edit vacation request</h4>
    <hr />
    <form asp-action="EditRequest">
        <input type="hidden" asp-for="ID" />
        @Html.ValidationSummary(false, null, new { @class = "text-danger" })
        <div class="form-floating mb-3">
            @Html.DropDownListFor(model => model.SelectedLeaveTypeID,
            new SelectList(Model.LeaveTypes, nameof(LeaveType.ID),
            nameof(LeaveType.Caption), Model.SelectedLeaveTypeID),
            new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SelectedLeaveTypeID)
            <label for="Model.SelectedLeaveTypeID" class="control-label"> Leave type </label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="StartDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" aria-required="true" placeholder="Start Date" />
            <label asp-for="StartDate"></label>
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="EndDate" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" aria-required="true" placeholder="End Date" />
            <label asp-for="EndDate"></label>
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-3 ">
            <label asp-for="Comment" class="control-label"></label>
            <textarea asp-for="Comment" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
        <input type="submit" value="Save changes" class="btn btn-primary btn-block w-100" />
    </form>
</div>
