@model IEnumerable<VacaYAY.Data.Entities.Request>

@{
    ViewData["Title"] = "My vacation requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My vacation requests</h2>

<p>
    <a asp-action="CreateRequest" class="btn btn-primary">New request</a>
</p>
<table class="table table-bordered text-center align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @(item.Response is not null ?
                        item.Response.IsApproved ?
                        "Approved"
                        :
                        "Rejected"
                        :
                        "Pending")
                </td>
                <td class="text-end" style="white-space:nowrap; width:15%;">
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-secondary">Details</a>
                    @if (item.Response is null)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
