@using VacaYAY.Data.Enums;
@model IEnumerable<VacaYAY.Data.Entities.Request>

@{
    ViewData["Title"] = "My vacation requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>My vacation requests</h2>
    <hr />
    <div class="col">
        <p class="mb-0">New days off: <strong> @(ViewBag.DaysOffNumber)</strong></p>
        <p>Old days off: <strong> @(ViewBag.OldDaysOffNumber)</strong></p>
        <a asp-action="CreateRequest" class="btn btn-success btn-block w-100">Create new request</a>
    </div>
    <div class="col-10">
        <table class="table table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.LeaveType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EndDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveType.Caption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-secondary">View more</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>