@using VacaYAY.Data.Entities;
@model Employee

@{
    ViewData["Title"] = "Delete employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm w-25">
    <h2>Delete</h2>
    <h5>Are you sure you want to delete this employee?</h5>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Caption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger btn-block w-100">Delete employee</button>
    </form>
</div>