@using VacaYAY.Data.Entities;
@model Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm w-25">
    <h2>Details</h2>
    <h4>Employee</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position.Caption)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DaysOffNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaysOffNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployeeEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
    </dl>
    <div>
        <a asp-controller="Contracts" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-outline-primary w-100 mb-3">View contracts</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary w-100 mb-3">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger w-100">Delete</a>
    </div>
</div>

