@using VacaYAY.Data.DataTransferObjects;
@using VacaYAY.Data.Entities;
@model EmployeeView
@{
    ViewData["Title"] = "Manage employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Manage employees</h2>
    <hr />
    <div class="col">
        <div class="d-flex flex-column">
            <a class="btn btn-success" id="register" asp-controller="Employees" asp-action="Register">Register new employee</a>
            <a class="btn btn-outline-primary mt-3" asp-controller="Employees" asp-action="LoadExistingEmployees">Load existing employees</a>
        </div>
        <hr />
        <form asp-controller="Employees" asp-action="Index" method="get">
            <div class="d-flex flex-column">
                <div>
                    <input type="text" asp-for="SearchInput" class="form-control" placeholder="Pera Perić..." />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="StartDateFilter" type="date" class="form-control" aria-required="true" placeholder="Start Date" />
                    <label asp-for="StartDateFilter"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="EndDateFilter" type="date" class="form-control" aria-required="true" placeholder="End Date" />
                    <label asp-for="EndDateFilter"></label>
                </div>
                <div class="mb-3">
                    <label for="Positions" class="col control-label">Select positions</label>
                    <select id="Positions" name="Positions" multiple="multiple" class="form-control dropdown-toggle">
                        @foreach (var position in ViewBag.Positions)
                        {
                            @if (Model.Positions.Contains(@position.ID))
                            {
                                <option value="@position.ID" selected>@position.Caption</option>
                            }
                            else
                            {
                                <option value="@position.ID">@position.Caption</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Positions" class="text-danger"></span>
                </div>
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-10">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().IDNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().InsertDate)
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position.Caption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsertDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Positions').select2();
        });
    </script>
}