@using VacaYAY.Data.DataTransferObjects;
@using VacaYAY.Data.Entities;
@model EmployeeView
@{
    ViewData["Title"] = "Manage employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Manage employees</h2>
    <hr />
    <div class="col">

        <h5>Configuration</h5>        
        <hr />        
        <a class="btn btn-success w-100" id="register" asp-controller="Employees" asp-action="Register"><i class="bi bi-person-plus-fill"></i> Register new employee</a>
        <a class="btn btn-sm btn-outline-primary mt-3 mb-2 w-100" asp-controller="Employees" asp-action="LoadExistingEmployees"><i class="bi bi-cloud-arrow-down"></i> Load existing employees</a>
        <a class="btn btn-sm btn-outline-primary mb-3 w-100" asp-controller="Positions" asp-action="Index"><i class="bi bi-gear"></i> Manage employee postions</a>
        <h5 class="mt-2">Filter</h5>
        <hr />
        <form asp-controller="Employees" asp-action="Index" method="get">
            <div class="d-flex flex-column">
                <div>
                    <input type="text" asp-for="SearchInput" class="form-control" placeholder="Search..." />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input asp-for="StartDateFilter" type="date" class="form-control" aria-required="true" placeholder="Start Date" />
                    <label asp-for="StartDateFilter"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="EndDateFilter" type="date" class="form-control" aria-required="true" placeholder="End Date" />
                    <label asp-for="EndDateFilter"></label>
                </div>
                <div class="mb-3">
                    <label for="SelectedPositionIds" class="col control-label">Select positions</label>
                    <select id="SelectedPositionIds" name="SelectedPositionIds" multiple="multiple" class="form-control dropdown-toggle">
                        @foreach (var position in Model.Positions)
                        {
                            @if (Model.SelectedPositionIds.Contains(@position.ID))
                            {
                                <option value="@position.ID" selected>@position.Caption</option>
                            }
                            else
                            {
                                <option value="@position.ID">@position.Caption</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="SelectedPositionIds" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
            </div>
        </form>
    </div>
    <div class="col-10">
        <table class="table table-striped">
            <thead>
                <tr class="table-primary">
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().Position)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().IDNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employees.First().InsertDate)
                    </th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position.Caption)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IDNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InsertDate)
                        </td>
                        <td class="text-center" style="width: 1%; white-space: nowrap;">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-fill small"></i> Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a>
                            <a class="btn btn-sm btn-danger open-confirm-modal"
                               data-id="@item.Id"
                               data-controller="Employees"
                               data-action="Delete"
                               data-title="Confirm employee deletion"
                               data-body-message="Are you sure you want to delete the employee <strong> @item.Name</strong>?">
                                <i class="bi bi-trash small"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#SelectedPositionIds').select2();
        });
    </script>
}